@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body{
    font-family: 'Poppins', sans-serif!important;
    color: #0e1c71!important;
}

.csh-markdown.csh-markdown-list[data-type]:before{
    background:none!important;
    background-image: url("https://assets-global.website-files.com/5f60c731c7ffa0706798ef87/61d93a478685b7861d0ca2da_arrowhead-right.svg")!important;
    width: 18px!important;
    height:18px!important;
    margin-top: 3px!important;
}

a{
    text-decoration: unset!important;
    transition: all 250ms ease;
    font-weight: 600!important
}
a:hover{
    text-decoration: underline!important;
    transition: all 250ms ease;
}


.csh-category-badge,
.csh-header-main-actions-website{
    height: 38px;
    border-radius: 29px!important;
    background-color: #2d72e8;
    background-image: linear-gradient(125deg,#2d72e8,#4c8df8 49%,#2c73e8 103%);
    -webkit-transition: background-color .2s,.2s;
    transition: background-color .2s,.2s;
    color: #fff;
    font-size: 13px;
    line-height: 38px;
    font-weight: 500;
    text-align: center;
}

.csh-header-main-actions-website{
 background-color: unset!important;   
}

.csh-header-main-logo img{
    height: 38px!important;
}

.csh-header-main{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.csh-header-search{
    
}

.csh-navigation-title-item-inner{
    font-size: 20px!important;
    text-align: left;
    padding-left:42px;
    position: relative!important;
}
.csh-navigation-title-item-inner:before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width:28px;
    height:28px;
    background-image: url("https://assets-global.website-files.com/5f60c731c7ffa0706798ef87/61d93a478685b7861d0ca2da_arrowhead-right.svg")!important;
    background-repeat: no-repeat;
}

header .csh-wrapper,
nav .csh-wrapper,
#body > .csh-wrapper{
    max-width: 1040px!important;
    width:100%!important;
}

nav{
    line-height: 88px!important;
    height: 88px!important;
}

#body, nav{
    background-color: #F8FAFC!important;
    border: none!important
}

.csh-header-search .csh-header-search-field input{
    height:45px!important;
    padding:0!important
}


.csh-header-search:before{
    opacity: 0.3!important
}


.csh-article-content,
.csh-box-link,
.csh-header-search input{
        border: 0px solid #a7b7d2;
    border-radius: 10px!important;
    overflow: hidden!important;
    box-shadow: 4px 4px 29px 6px rgb(102 104 160 / 14%);
}

article{
    border:0!important
}

.csh-box-link h6{
    text-align: left;
}

.csh-header-title{
    font-size: 0!important;
}
.csh-header-title:before{
    content: "How can we help?";
    font-size: 23.4px!important;
}
